
<body background="http://interestingengineering.com/wp-content/uploads/2014/11/HD-engineering-wallpaper-1.jpg">
<br/>
<br/>
<font face="Cursive" size="10" color="brown">Begin Exam!!!!!</font>
<br/>
<br/>
<% if current_user.role=="Admin"%>

<%= link_to 'Enter the exam', controller: 'exams' %>

<%else%>
<ul class="nav navbar-nav navbar-right">

 <li id="exam">
<%= link_to 'Enter Exam', student_exams_path %>
 </li>

<style>
 


#exam{
  
  font-family:  sans-serif;
  font-size:150%;
  color: #DC143C;
  }

</style>
<%end%>

